<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.guoqingxian.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/guoqingxian-dao/src/main/java" />
        <option name="javaModelPackage" value="com.guoqingxian.model" />
        <option name="javaModelPath" value="$PROJECT_DIR$/guoqingxian-model/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="guoqingxian-web" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="guoqingxian-web">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.guoqingxian.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/guoqingxian-dao/src/main/java" />
                  <option name="javaModelPacakge" value="com.guoqingxian.model" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/guoqingxian-model/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.guoqingxian.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/guoqingxian-service/src/main/java" />
                  <option name="javaServicePackage" value="com.guoqingxian.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/guoqingxian-service/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/guoqingxian-web/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="week2:t_meeting">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TMeeting" />
                  <option name="moduleName" value="guoqingxian-web" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="week2:t_meeting_type">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TMeetingType" />
                  <option name="moduleName" value="guoqingxian-web" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/guoqingxian-web/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>